<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senai Games</title>
</head>
<body>
    
    <h1>Senai Games</h1><!--titulo maior-->
    <h2>Inteligência Artificial</h2>
    <h3>Análise de Sentimnetos</h3>
    <h4>Ambiente Acolhedor e Inclusivo</h4>
    <h5>Jogos , Educação e Bussiness</h5>
    <h6>Tudo em só lucas</h6><!--titulo menor-->

    <p>Com mais um click, você entrara em nosso ambiente gratuito e criação de jogos</p>
    <form>
        <input type="text" name="nome" placeholder="qual o seu nome?">
        <input type="text" name="apelido" placeholder="qual é seu nickname?">
        <select>
            <option selected>Qual o seu genero preferido?</option>
            <option>Visual Novel</option>
            <option>RPG</option>
            <option>Plataforma</option>
        </select>
        <input type="email" required name="email" placeholder="qual o seu email?">
        <input type="password" required name="senha" placeholder="informe a senha">
        <button>CADASTRE-SE</button>
    </form>

</body>
</html>